Screen {
    align: center middle;
}

Button {
    color: darkorange;
    width: 7;
    height: 5;
    border: double #ffc400;
    margin: 0;
    padding: 0;
    min-width: 7;
    text-align: center;
}

.tile_text {
    width: auto;
    height: auto;
    /*text-align: center;*/
    color: darkorange;
    /*width: 7;*/
    /*height: 5;*/
    /*margin: 0;*/
    /*padding: 0;*/
}

/*#player_tiles {*/
/*    width: auto;*/
/*    !*text-style: underline;*!*/
/*    color: #ffce33;*/
/*}*/
