Screen {
    align: center middle;
}

PlayerHand {
    color: darkorange;
    width: auto;
    height: auto;
    border: heavy #ffc400;
}

/*#player_tiles {*/
/*    width: auto;*/
/*    !*text-style: underline;*!*/
/*    color: #ffce33;*/
/*}*/
